

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  margin-left: auto ;
  margin-right: auto;
  width: 90%;
  position: relative;


}

.loader{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding-top: 300px;
}




#navbarContainer{
  width: 100%;
  background-color:#2d3436;
  padding: 15px 20px;
  
}

#navbarContainer .navbar{
     width: 90%;
     margin-left: auto;
     margin-right: auto;
}


.navbar{
  margin: 5px auto;
  display: flex;
  justify-content:space-between;
  align-items: center;

}
.navbar h1{
  color: white;
  padding-left: 10px;
}

.navbarLogo{
  display: flex;
}

.navbarLogo .fab{
  font-size: 30px;
  color: white;
}


.userItemCard-img{
    border-radius: 50%;
    height: 100px;
    width: 150px;
}

#userItemCard{
  text-align: center;
  
  -webkit-box-shadow: 0 0 10px grey;
        box-shadow: 0 0 10px grey;
  margin-top: 15px;
  height: 300px;

  width:30%;
  
  
  


  
  
  
  display: flex;
  flex-direction: column;
  margin: 10px 10px;

  
  align-items: center;
  flex-flow: column wrap;
  padding-top: 20px;
  position: relative;
  border: solid 0.5px grey;
  flex: 30%

  
}

#userItemCard h3{
  font-size: 30px;
  margin-top: 10px;
}

#userItemCard a{
  text-decoration: none;
  background-color: #2d3436;
  color:white;
  padding : 10px 20px;
  border-radius: 8px;
  transition: background-color 0.5s;
  position:absolute;
  bottom: 10%;
  
  
  

  
}

#userItemCard a:hover{
 
   background-color: gray;
   color: black;
   
  

  
}


#Users{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  
}


@media(max-width:486px){
  #userItemCard{
    text-align: center;
    
    -webkit-box-shadow: 0 0 10px grey;
          box-shadow: 0 0 10px grey;
    margin-top: 15px;
    height: 300px;
    width:300px;
    
    
    
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
  
    
    align-items: center;
    flex-flow: column wrap;
    padding-top: 20px;
    position: relative;
    border: solid 0.5px grey;
    flex: 50%
  
    
  }
  
}

#search{
  width: 90%;
  margin: 10px auto;
}

.search-area{
  border: solid 1px grey;
  outline: none;
  padding: 15px 10px;
  font-size: 25px;
}

.search-button{
  margin-top: 5px;
  padding:15px;
  background-color:#2d3436 ;
  color:white;
  font-size: 20px;
  font-weight: bold;
  border:none;
  outline: none;
  transition: 0.2s ease-in-out;
}

.search-button:hover{
  background-color: grey;
  color:#2d3436;
}

.search-button:active{
   background-color: #2d3436;
   color:white;
}

#search form {
  display: flex;
  flex-direction: column;
}

.clear-button{
  width: 100%;
  margin-top: 5px;
  padding: 15px 0px;
  background-color:#eb4d4b;
  color: white;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  border: none;
}
.clear-button:active{
  background-color: #ff7979;
}

.alert{
  background-color: brown;
  width: 100%;
  color:white;
  font-weight: bold;
  padding: 15px 10px;
  margin: 10px 0px;
  transform: translateY(-1200px);
  animation:alertanimate 0.5s ease-out forwards;

}

@keyframes alertanimate{
  to{
    transform: translateY(0);
  }
}

.navlinks{
  color: white;

}
.navlinks ul li{
  list-style-type: none;
  padding: 0px 10px;
  text-decoration: none;
  color: white;


}

.navlinks ul {
  display: flex;
  justify-items: center;
  justify-content: center;
}

.about{
  margin-top: 15px;
}

.backToSearch{
  background-color: #2d3436 ;
  color: white;
  text-decoration: none;
  padding: 15px 10px;
  margin-top: 30px;
  
}
.searchButton{
  margin-top: 30px;
}

.profilebox{
  display: flex;
  margin-top: 100px;

}

.profilepic{
   flex:50%;
 
   padding: 20px 5px;
   display: flex;
   flex-direction: column ;
   align-items: center;
   justify-content: center;
   background-color: 	#F0F0F0;
  
}
.biodata{
   flex:50%;
 
   margin-left: 5px;
   background-color: 	#F0F0F0;
}
.profilepic img{
  width: 150px;
  border-radius: 50%;
  margin-top: -100px;
  border-bottom: solid 4px white;
}

.profilepic h3{
  margin-top: 20px;
}
.profilepic a{
  margin-top: 30px;
  text-decoration: none;
  background-color: #2d3436;
  padding: 10px 20px;
  color: white;
}

.biodata_inside{
  padding: 10px 10px;
}

.biodata_inside h3{
  line-break: 1.6 rem;
  margin: 15px 0px 0px 0px;
}

 .fol{
   display: flex;
   justify-content: space-evenly;
   margin-top: 40px;
 }
.followers{
  background-color: green;
  color: white;
  flex: 0.3;
  padding: 30px 20px;
  border-radius: 8px;
}
.following{
  background-color: red;
  color: white;
  flex: 0.3;  
  padding: 30px 20px;
  border-radius: 8px;
}


.repos{
  margin-top: 20px;
  padding-bottom: 20px;
 

}


.repos-item ul li{

  list-style-type: none;
  background-color: #F0F0F0;
  padding: 20px 10px;
  margin-top: 10px;
  border: solid 1px gray;
}


.repos-item a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}


@media(max-width:606px){
  .profilebox{
    flex-direction: column;
  
  }
  .biodata{
    margin-top: 10px;
  }
}

@media(max-width:611px){
  .fol{
    flex-direction: column;
  }


 .following{
   margin-top: 10px;
 }
 .repos{
   display: flex;
   flex-wrap: wrap;
  
 }
 .repos-item{
  
   margin-left: 3px;
 }
}

@media(max-width:531px){
  .repos{
    flex-direction: column;
  }
}